<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nova.Monitoring.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Nova.Monitoring.Engine.Properties.Settings>
      <setting name="TCP_Port" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="HTTP_Port" serializeAs="String">
        <value>8899</value>
      </setting>
      <setting name="TCP_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HTTP_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxConnections" serializeAs="String">
        <value>100</value>
      </setting>
    </Nova.Monitoring.Engine.Properties.Settings>
  </applicationSettings>
</configuration>